<form method="post" action="/mountains">
  <input type="text" name="mountain[name]" autofocus placeholder="Name">
  <input type="text" name="mountain[image]" placeholder="Image URL">
  <input type="text" name="mountain[country]" placeholder="Country">
  <input type="text" name="mountain[height]" placeholder="Height">

  <button>Climb me!</button>
</form>